<!DOCTYPE html>
<html>
  <head>
    <title>Zhihan Data Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Zhihan Open Data Service</h1>
    <p>Public Service is ready</p>
    <br />
    <div>
      <p>test panel</p>
      <ul>
          <li><button id="test_astocknamelist">get A stock name list</button></li>
          <li><button id="test_astockdata">get A stock sample data</button></li>
          <li><button id="test_futurenamelist">get future code list</button></li>
          <li><button id="test_futuredata">get future data</button></li>
          <li><button id="test_maincontractlist">get main contract list</button></li>
          <li><button id="test_maincontractdata">get main contract data</button></li>
          <li><button id="test_indexlist">get index list</button></li>
          <li><button id="test_indexdata">get index data</button></li>
      </ul>
    </div>

    <script>
      document.querySelector('#test_astocknamelist').addEventListener('click', function(e) {
        console.log("send request ... ...");
        fetch('/astocknamelist').then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_astockdata').addEventListener('click', function(e) {
        let postbody = {
          method:"POST",
          body:JSON.stringify({
            table: '000001.SZ',
            start: '2017-10-01',
            end: '2017-11-25'
          })
        }
        console.log("send request ... ...");
        fetch('/astockdata', postbody).then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_futurenamelist').addEventListener('click', function(e) {
        console.log("send request ... ...");
        fetch('/futurenamelist').then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_futuredata').addEventListener('click', function(e) {
        let postbody = {
          method:"POST",
          body:JSON.stringify({
            table: 'A1803.DCE',
            start: '2017-10-01',
            end: '2017-11-25'
          })
        }
        console.log("send request ... ...");
        fetch('/futuredata', postbody).then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_maincontractlist').addEventListener('click', function(e) {
        console.log("send request ... ...");
        fetch('/maincontractlist').then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_maincontractdata').addEventListener('click', function(e) {
        let postbody = {
          method:"POST",
          body:JSON.stringify({
            table: 'A.DCE',
            start: '2017-10-01',
            end: '2017-11-25'
          })
        }
        console.log("send request ... ...");
        fetch('/maincontractdata', postbody).then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_indexlist').addEventListener('click', function(e) {
        console.log("send request ... ...");
        fetch('/indexlist').then(e => e.json()).then(e => console.log(e));
      });

      document.querySelector('#test_indexdata').addEventListener('click', function(e) {
        let postbody = {
          method:"POST",
          body:JSON.stringify({
            table: 'A.DCE',
            start: '2017-10-01',
            end: '2017-11-25'
          })
        }
        console.log("send request ... ...");
        fetch('/indexdata', postbody).then(e => e.json()).then(e => console.log(e));
      });
    </script>
  </body>
</html>
